In [1]:
import numpy as np
import pandas as pd
import csv

In [27]:
# 1.
 

#Open some of the census csv files in the navigator. How are they named?
#What kind of information do they hold? Will they help us make this graph? 

inventory = pd.read_csv('inventory.csv')
    
display(inventory.index)
inventory

RangeIndex(start=0, stop=29, step=1)

         location  product_type         product_description  quantity  price
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

In [28]:
#2.
#Inspect the first 10 rows of inventory.

#3.
#The first 10 rows represent data from your Staten Island location. Select these rows and save them to staten_island.


staten_island = inventory.head(10)
staten_island

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

In [29]:
#4.
#A customer just emailed you asking what products are sold at your Staten Island location. 
#Select the column product_description from staten_island and save it to the variable product_request.

product_request = staten_island[[ 'product_description']]
product_request

          product_description
0                       daisy
1                  calla lily
2                      tomato
3                        rake
4                 wheelbarrow
5                       spade
6               insect killer
7                 weed killer
8  20 inch terracotta planter
9      8 inch plastic planter

In [30]:
#5.
#another customer emails to ask what types of seeds are sold at the Brooklyn location.

#Select all rows where location is equal to Brooklyn and product_type is equal to seeds and save them to the 
#variable seed_request


 
seed_request = inventory[(inventory.location == 'Brooklyn') & (inventory.product_type == 'seeds')]
display(seed_request)

    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99

In [56]:
#Inventory
6.
# Add a column to inventory called in_stock which is True if quantity is greater than 0 and False if quantity equals 0.



inventory['in_stock'] = inventory.apply(lambda x: 'True' if x['quantity'] > 0 else 'False', axis = 1)
display(inventory)

# same result from the following code:

#inventory['in_stock'] = inventory['quantity'] > 0 
#inventory

,location,product_type,product_description,quantity,price,in_stock
0,Staten Island,seeds,daisy,4,6.99,True
1,Staten Island,seeds,calla lily,46,19.99,True
2,Staten Island,seeds,tomato,85,13.99,True
3,Staten Island,garden tools,rake,4,13.99,True
4,Staten Island,garden tools,wheelbarrow,0,89.99,False
5,Staten Island,garden tools,spade,93,19.99,True
6,Staten Island,pest_control,insect killer,74,12.99,True
7,Staten Island,pest_control,weed killer,8,23.99,True
8,Staten Island,planter,20 inch terracotta planter,0,17.99,False
9,Staten Island,planter,8 inch plastic planter,53,3.99,True
10,Brooklyn,seeds,daisy,50,6.99,True
11,Brooklyn,seeds,calla lily,0,19.99,False
12,Brooklyn,seeds,tomato,0,13.99,False
13,Brooklyn,garden tools,rake,15,13.99,True
14,Brooklyn,garden tools,wheelbarrow,82,89.99,True
15,Brooklyn,garden tools,spade,36,19.99,True
16,Brooklyn,pest_control,insect killer,80,12.99,True
17,Brooklyn,pest_control,weed killer,76,23.99,True
18,Brooklyn,planter,20 inch terracotta planter,5,17.99,True
19,Brooklyn,planter,8 inch plastic planter,26,3.99,True
20,Queens,seeds,daisy,57,6.99,True
21,Queens,seeds,calla lily,95,19.99,True
22,Queens,seeds,tomato,45,13.99,True
23,Queens,garden tools,rake,21,13.99,True
24,Queens,garden tools,wheelbarrow,98,89.99,True
25,Queens,garden tools,spade,26,19.99,True
26,Queens,pest_control,insect killer,0,12.99,False
27,Queens,pest_control,weed killer,16,23.99,True
28,Queens,planter,20 inch terracotta planter,87,17.99,True

In [31]:
#7.
#Petal Power wants to know how valuable their current inventory is.

#Create a column called total_value that is equal to price multiplied by quantity

inventory['total_value'] = inventory['price'] * inventory['quantity']
inventory

,location,product_type,product_description,quantity,price,total_value
0,Staten Island,seeds,daisy,4,6.99,27.96
1,Staten Island,seeds,calla lily,46,19.99,919.54
2,Staten Island,seeds,tomato,85,13.99,1189.15
3,Staten Island,garden tools,rake,4,13.99,55.96
4,Staten Island,garden tools,wheelbarrow,0,89.99,0.00
5,Staten Island,garden tools,spade,93,19.99,1859.07
6,Staten Island,pest_control,insect killer,74,12.99,961.26
7,Staten Island,pest_control,weed killer,8,23.99,191.92
8,Staten Island,planter,20 inch terracotta planter,0,17.99,0.00
9,Staten Island,planter,8 inch plastic planter,53,3.99,211.47
10,Brooklyn,seeds,daisy,50,6.99,349.50
11,Brooklyn,seeds,calla lily,0,19.99,0.00
12,Brooklyn,seeds,tomato,0,13.99,0.00
13,Brooklyn,garden tools,rake,15,13.99,209.85
14,Brooklyn,garden tools,wheelbarrow,82,89.99,7379.18
15,Brooklyn,garden tools,spade,36,19.99,719.64
16,Brooklyn,pest_control,insect killer,80,12.99,1039.20
17,Brooklyn,pest_control,weed killer,76,23.99,1823.24
18,Brooklyn,planter,20 inch terracotta planter,5,17.99,89.95
19,Brooklyn,planter,8 inch plastic planter,26,3.99,103.74
20,Queens,seeds,daisy,57,6.99,398.43
21,Queens,seeds,calla lily,95,19.99,1899.05
22,Queens,seeds,tomato,45,13.99,629.55
23,Queens,garden tools,rake,21,13.99,293.79
24,Queens,garden tools,wheelbarrow,98,89.99,8819.02
25,Queens,garden tools,spade,26,19.99,519.74
26,Queens,pest_control,insect killer,0,12.99,0.00
27,Queens,pest_control,weed killer,16,23.99,383.84
28,Queens,planter,20 inch terracotta planter,87,17.99,1565.13

In [16]:
#8.
#The Marketing department wants a complete description of each product for their catalog.

#The following lambda function combines product_type and product_description into a single string:

combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type,
row.product_description)
#Paste this function into script.py.

In [37]:
combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type,
                        row.product_description)

In [38]:
combine_lambda

In [39]:
#9.
#Using combine_lambda, create a new column in inventory called full_description that has the complete description of 
#each product.

inventory['full_description'] = inventory.apply(combine_lambda, axis = 1) 
inventory

,location,product_type,product_description,quantity,price,total_value,full_description
0,Staten Island,seeds,daisy,4,6.99,27.96,seeds - daisy
1,Staten Island,seeds,calla lily,46,19.99,919.54,seeds - calla lily
2,Staten Island,seeds,tomato,85,13.99,1189.15,seeds - tomato
3,Staten Island,garden tools,rake,4,13.99,55.96,garden tools - rake
4,Staten Island,garden tools,wheelbarrow,0,89.99,0.00,garden tools - wheelbarrow
5,Staten Island,garden tools,spade,93,19.99,1859.07,garden tools - spade
6,Staten Island,pest_control,insect killer,74,12.99,961.26,pest_control - insect killer
7,Staten Island,pest_control,weed killer,8,23.99,191.92,pest_control - weed killer
8,Staten Island,planter,20 inch terracotta planter,0,17.99,0.00,planter - 20 inch terracotta planter
9,Staten Island,planter,8 inch plastic planter,53,3.99,211.47,planter - 8 inch plastic planter
10,Brooklyn,seeds,daisy,50,6.99,349.50,seeds - daisy
11,Brooklyn,seeds,calla lily,0,19.99,0.00,seeds - calla lily
12,Brooklyn,seeds,tomato,0,13.99,0.00,seeds - tomato
13,Brooklyn,garden tools,rake,15,13.99,209.85,garden tools - rake
14,Brooklyn,garden tools,wheelbarrow,82,89.99,7379.18,garden tools - wheelbarrow
15,Brooklyn,garden tools,spade,36,19.99,719.64,garden tools - spade
16,Brooklyn,pest_control,insect killer,80,12.99,1039.20,pest_control - insect killer
17,Brooklyn,pest_control,weed killer,76,23.99,1823.24,pest_control - weed killer
18,Brooklyn,planter,20 inch terracotta planter,5,17.99,89.95,planter - 20 inch terracotta planter
19,Brooklyn,planter,8 inch plastic planter,26,3.99,103.74,planter - 8 inch plastic planter
20,Queens,seeds,daisy,57,6.99,398.43,seeds - daisy
21,Queens,seeds,calla lily,95,19.99,1899.05,seeds - calla lily
22,Queens,seeds,tomato,45,13.99,629.55,seeds - tomato
23,Queens,garden tools,rake,21,13.99,293.79,garden tools - rake
24,Queens,garden tools,wheelbarrow,98,89.99,8819.02,garden tools - wheelbarrow
25,Queens,garden tools,spade,26,19.99,519.74,garden tools - spade
26,Queens,pest_control,insect killer,0,12.99,0.00,pest_control - insect killer
27,Queens,pest_control,weed killer,16,23.99,383.84,pest_control - weed killer
28,Queens,planter,20 inch terracotta planter,87,17.99,1565.13,planter - 20 inch terracotta planter

In [68]:
# Inspect the dataset
display(inventory.info())
inventory.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   location             29 non-null     object
 1   product_type         29 non-null     object
 2   product_description  29 non-null     object
 3   quantity             29 non-null     int64
 4   price                29 non-null     float64
 5   in_stock             29 non-null     object
 6   total_value          29 non-null     float64
 7   full_description     29 non-null     object
dtypes: float64(2), int64(1), object(5)
memory usage: 1.9+ KB

None

        quantity      price  total_value
count  29.000000  29.000000    29.000000
mean   40.758621  23.024483  1091.006207
std    35.183859  23.810986  2041.148747
min     0.000000   3.990000     0.000000
25%     5.000000  12.990000    89.950000
50%    36.000000  17.990000   383.840000
75%    76.000000  19.990000  1039.200000
max    98.000000  89.990000  8819.020000